<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">



    <!-- CONFIGURING THE DEPENDANT BEAN -->
	<bean id='bDart' class='in.neuralnet.bean.Bluedart' />
	<bean id='courier' class='in.neuralnet.bean.DTDC'  />
	<bean id='xprs' class='in.neuralnet.bean.XPressBees' /> <!--primary = "true"-->
		
	<!-- CONFIGURING THE TARGET BEAN -->
	<!-- <bean id='fpkt' class='in.neuralnet.bean.Flipkart' autowire="byName"/>-->
	<!-- 	<bean id='fpkt' class='in.neuralnet.bean.Flipkart' autowire="byType"/>-->
		<bean id='fpkt' class='in.neuralnet.bean.Flipkart' autowire="constructor"/>
	

</beans>